<div id="abaIndex" class="text-center">
    <div class="text-center" id="blog-title">
    </div>

    <div class="bloglist" id="blog-list">
    </div>

    <script id="blog-card" type="text/template">
        <div class="card wow fadeInDown animated col-md-4" data-wow-delay="0.2s">
            <a id="LinkFavorito" onclick="pageEvents.addFavourite('{{PostId}}');"><i id="fav{{PostId}}" class="fa fa-star favorito"></i></a>
            <div class="blog-item">
                <div class="blog-image">
                    <a onclick="pageEvents.loadBlogPost('{{Link}}');" width="100%">
                        <img src="/images2/blog/{{PostId}}.png" alt="">
                    </a>
                </div>
                <div class="blog-caption">
                    <div class="title">
                        <div class="meta">
                            <i class="pe-7s-pin"></i>
                        </div>
                        <div id="postTitle">
                            <h3 class="tituloBlog">{{PostId}} - {{Title}}</h3>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="date-meta">
                            <div class="date-box">
                                <i class="pe-7s-note2"></i>
                            </div>
                            <div class="date-box">
                                <p>JAN</p>
                                <span>05</span>
                            </div>
                        </div>
                        <p>{{ShortDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
<div id="artigo">
    <div id="blog-item-container"></div>
    <script id="blog-item" type="text/template">
        <div id="{{Link}}" class="blog-item">
            {{Content}}
        </div>
        <a onclick="pageEvents.VoltarPosts();" class="btn btn-primary">voltar</a>
    </script>
</div>

<div id="artigoNaoEncontrado">
    @*<script id="blog-content-not-found" type="text/template">
        <h5 class="modal-title">Ups, artigo não está no Cache!</h5>
        <div>
            Você quer que a gente continue tentando fazer download do artigo
            em plano de fundo e te avise quando estiver disponível?
        </div>
        <span aria-hidden="true">&times;</span>
        <div>
            <button class="btn btn-primary download-start" onclick="pageEvents.setBackgroundFetch('{{Link}}');">Sim!</button>
            <button type="button" class="btn btn-secondary" onclick="pageEvents.AlterarVisualizacao('2');">Não</button>
        </div>
    </script>*@

    <script id="blog-content-not-found" type="text/template">
        <h1>
            Ups, artigo não está no Cache!
        </h1>
        <div>
            Você quer que a gente continue tentando fazer download do artigo
            em plano de fundo e te avise quando estiver disponível?
        </div>
        <br />
        <button class="btn btn-primary download-start" onclick="pageEvents.setBackgroundFetch('{{Link}}');">Sim!</button>
        <br />
        <br />
        <div id="status-download" style="display:none;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%"></div>
            </div>
            <div class="text-success">
                <p>pronto!</p>
                <button class="btn btn-success" onclick="pageEvents.loadBlogPost('{{Link}}');">ler!</button>
            </div>
        </div>

    </script>

</div>

<div class="text-center" id="abaFavorito">

    @*<div class="bloglist" id="blog-list">
        </div>*@

    @*<script id="blog-card" type="text/template">
            <div class="card wow fadeInDown animated col-md-4" data-wow-delay="0.2s">
                <a id="LinkFavorito" onclick="pageEvents.addFavourite('{{PostId}}');"><i id="fav{{PostId}}" class="fa fa-star favorito"></i></a>
                <div class="blog-item">
                    <a onclick="pageEvents.loadBlogPost('{{Link}}');">
                        <img src="/images2/blog/{{PostId}}.png" width="350" height="230" alt="">
                    </a>
                    <div class="blog-caption">
                        <div class="title">
                            <div class="meta">
                                <i class="pe-7s-pin"></i>
                            </div>
                            <div id="postTitle">
                                <h3>{{PostId}} - {{Title}}</h3>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="date-meta">
                                <div class="date-box">
                                    <i class="pe-7s-note2"></i>
                                </div>
                                <div class="date-box">
                                    <p>JAN</p>
                                    <span>05</span>
                                </div>
                            </div>
                            <p>{{ShortDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </script>*@
</div>

@*<script type="text/template">
        window.onload = function () {
        pageEvents.loadMoreBlogPosts();
        }
    </script>*@
