<div id="abaIndex" class="text-center">
    <div class="text-center" id="blog-title">
    </div>

    <div class="bloglist" id="blog-list">
    </div>

    <script id="blog-card" type="text/template">
        <div class="card wow fadeInDown animated col-md-4" data-wow-delay="0.2s">
            <a id="LinkFavorito" onclick="pageEvents.addFavourite('{{PostId}}');"><i id="fav{{PostId}}" class="fa fa-star favorito"></i></a>
            <div class="blog-item">
                <div class="blog-image">
                    <a onclick="pageEvents.loadBlogPost('{{Link}}');" width="100%">
                        <img src="/images2/blog/{{PostId}}.png" alt="">
                    </a>
                </div>
                <div class="blog-caption">
                    <div class="title">
                        <div class="meta">
                            <i class="pe-7s-pin"></i>
                        </div>
                        <div id="postTitle">
                            <h3 class="tituloBlog">{{PostId}} - {{Title}}</h3>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="date-meta">
                            <div class="date-box">
                                <i class="pe-7s-note2"></i>
                            </div>
                            <div class="date-box">
                                <p>JAN</p>
                                <span>05</span>
                            </div>
                        </div>
                        <p>{{ShortDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
<div id="artigo">
    <div id="blog-item-container"></div>
    <script id="blog-item" type="text/template">
        <div id="{{Link}}" class="blog-item">
            {{Content}}
        </div>
        <a onclick="pageEvents.VoltarPosts();" class="btn btn-primary">voltar</a>
    </script>
</div>

<div id="artigoNaoEncontrado">
    <script id="blog-content-not-found" type="text/template">
        <div id="modalDialog" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ups, artigo não está no Cache!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Você quer que a gente continue tentando fazer download do artigo
                        em plano de fundo e te avise quando estiver disponível?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary download-start" data-dismiss="modal" onclick="pageEvents.setBackgroundFetch('{{Link}}');">Sim!</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<div class="text-center" id="abaFavorito">

    @*<div class="bloglist" id="blog-list">
        </div>*@

    @*<script id="blog-card" type="text/template">
            <div class="card wow fadeInDown animated col-md-4" data-wow-delay="0.2s">
                <a id="LinkFavorito" onclick="pageEvents.addFavourite('{{PostId}}');"><i id="fav{{PostId}}" class="fa fa-star favorito"></i></a>
                <div class="blog-item">
                    <a onclick="pageEvents.loadBlogPost('{{Link}}');">
                        <img src="/images2/blog/{{PostId}}.png" width="350" height="230" alt="">
                    </a>
                    <div class="blog-caption">
                        <div class="title">
                            <div class="meta">
                                <i class="pe-7s-pin"></i>
                            </div>
                            <div id="postTitle">
                                <h3>{{PostId}} - {{Title}}</h3>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="date-meta">
                                <div class="date-box">
                                    <i class="pe-7s-note2"></i>
                                </div>
                                <div class="date-box">
                                    <p>JAN</p>
                                    <span>05</span>
                                </div>
                            </div>
                            <p>{{ShortDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </script>*@
</div>

@*<script type="text/template">
        window.onload = function () {
        pageEvents.loadMoreBlogPosts();
        }
    </script>*@
