#postTitle {
    /* background: #dd0707; */
    clear: none;
    width: 379px;
    height: 42px;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #605e5e;
    font-weight: 600;
    text-align: center;
    /*padding: 5px 10px;*/
}

.favorito {
    background: none;
    border: none;
    float: right;    
    z-index: 9999;
    position: absolute;
    right: 22px;
    top: 7px;
}

    .favorito.adicionado {
        color: orange;
    }

.botaoCustom {
    color:white;
    background-color: #46bfa9;    
}

h3.tituloBlog {
    margin: 0px;
    padding: 0px;
    top: 25%;
}

.blog-image {
    /*max-width:419px; 
    max-height:220px; 
    min-width:419px; 
    min-height:220px;*/
}

a img {
    width: 100%;
    height:100%;
}

h3 .tituloBlog {
    /* mexer aqui para arrumar o texto. limpar a formatação dos outros h3*/
    padding:0px;
    margin:0px;
}


@media (max-width: 1500px) {
}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 420px) {
}
